[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
        ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
        ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
        ignore = dirty
[submodule "bundle/headlights"]
	path = bundle/headlights
	url = https://github.com/mbadran/headlights.git
        ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
        ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
        ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
        ignore = dirty
[submodule "bundle/stakeholders"]
	path = bundle/stakeholders
	url = https://github.com/tomtom/stakeholders_vim.git
        ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
        ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
        ignore = dirty
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
        ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
        ignore = dirty
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/vim-scripts/rainbow_parentheses.vim.git
        ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
        ignore = dirty
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
        ignore = dirty
[submodule "bundle/trinity"]
	path = bundle/trinity
	url = https://github.com/vim-scripts/trinity.vim.git
        ignore = dirty
[submodule "bundle/source-explorer"]
	path = bundle/source-explorer
	url = https://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
        ignore = dirty
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/vim-scripts/abolish.vim.git
        ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = dirty
[submodule "bundle/fuzzy-finder"]
	path = bundle/fuzzy-finder
	url = https://github.com/vim-scripts/FuzzyFinder.git
        ignore = dirty
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
        ignore = dirty
[submodule "bundle/tskeleton"]
	path = bundle/tskeleton
	url = https://github.com/vim-scripts/tSkeleton.git
        ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
        ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
        ignore = dirty
[submodule "colors/molokai"]
	path = colors/molokai
	url = https://github.com/tomasr/molokai.git
        ignore = dirty
[submodule "bundle/phpindent"]
	path = bundle/phpindent
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
        ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
        ignore = dirty
